<!DOCTYPE html>
<html lang="kr">
<head>{{> include/header}}
</head>
<body>
	<{{> include/nav}}

	<div class="container" id="main">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default content-main">
				<form name="book" method="post" action="/books/{{bookid}}/modify">
					<div class="form-group">
						<label for="author">저자</label> <input class="form-control"
							id="author" name="author" placeholder="글쓴이">
					</div>
					<div class="form-group">
						<label for="title">제목</label> <input type="password"
							class="form-control" id="title" name="title" placeholder="제목">
					</div>
					<div class="form-group">
						<label for="publisher">출판사</label> <input class="form-control" id="publisher"
							name="publisher" placeholder="출판사">
					</div>


					<button type="submit" class="btn btn-success clearfix pull-right">등록</button>
					<div class="clearfix" />
				</form>
			</div>
		</div>
	</div>

	<!-- script references -->
	{{> include/footer}
</body>
</html>